.cartItems {
    margin: 100px 70px;
}

.cartItems hr {
    height: 3px;
    background: #e2e2e2;
    border: 0;
}

.cartItems-format-main {
    display: grid;
    grid-template-columns: 0.5fr 2fr 1fr 1fr 1fr 1fr 1fr;
    align-items: center;
    gap: 65px;
    text-align: center;
    padding: 20px 0;
    color: #454545;
    font-size: 18px;
    font-weight: 600;
}

.cartItems-format {
    font-size: 17px;
    font-weight: 500;
    text-align: end;

}

.cartIcon-product-icon {
    height: 62px;
}

.cartItems-remove-icon {
    width: 15px;
    margin: 0 auto;
    cursor: pointer;
}

.cartItem-quantity {
    width: 64px;
    height: 50px;
    border: 2px solid #ebebeb;
    background: white;
}

.cartItems-down {
    position: relative;
    display: flex;
    margin: 100px 0;
}

.cartItems-total {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.cartItems-total-item {
    display: flex;
    justify-content: space-between;
    padding: 15px 0;
}

.cartItems-total button {
    width: 262px;
    height: 58px;
    outline: none;
    border: none;
    background: #ff5a5a;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}

.cartItems-promocode {
    flex: 1;
    font-size: 16px;
    font-weight: 500;
}

.cartItems-promocode p {
    color: #555;
}

.cartItems-promobox {
    width: 504px;
    margin-top: 15px;
    padding-left: 20px;
    height: 58px;
    background: #eaeaea;
}

.cartItems-promobox input {
    border: none;
    outline: none;
    background: transparent;
    font-size: 16px;
    width: 330px;
    height: 50px;
}

.cartItems-promobox button {
    width: 154px;
    height: 58px;
    font-size: 16px;
    background: rgb(101, 163, 235);
    outline: none;
    border: none;
    color: white;
    cursor: pointer;
}

.cartItems-modal {
    z-index: 100;
    background-color: #ffffff;
    color: #333333;
    position: fixed;
    flex-direction: column;
    text-align: center;
    display: flex;
    height: 250px;
    width: 400px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px; // Thêm padding cho modal
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25); // Thêm bóng cho modal
    border-radius: 32px
}

.cartItems-modal-overlay {
    z-index: 99;
    background-color: rgba(0, 0, 0, 0.5); // Màu đen với độ trong suốt 50%
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.cartItems-modal-button {
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;

    div {
        width: 80%;
        padding: 10px;
        text-align: center;
        font-weight: 600;
        border-radius: 5px;
        cursor: pointer;
    }

    .buy-btn {
        background-color: #4CAF50;
        color: white;

        &:hover {
            background-color: #409a43;
            color: white;
        }
    }

    .cancel-btn {
        background-color: #f44336;
        color: white;

        &:hover {
            background-color: #db3d31;
            color: white;
        }
    }
}

.proceed-btn:hover {
    background-color: #f44336;
    color: white;
}

.cartItems-infobox {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.cartItems-infobox input[type="text"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.cartItems-infobox button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.cartItems-infobox button:hover {
    background-color: #45a049;
}

.payment-options{
    display: flex;
    align-items: center;
    text-align: center;

    input,label{
        cursor: pointer;
    }
}

.payment-options-btn{
    margin-top: 4px;
    max-width: 40px;
    min-width: 40px;
    padding: 20px;
}

@media (max-width: 1280px) {
    .cartItems {
        margin: 60px 50px;
    }

    .cartItems-format-main {
        grid-template-columns: 0.5fr 3fr 0.5fr 0.5fr 0.5fr 0.5fr;
        gap: 20px;
        padding: 15px 0;
        font-size: 15px;
    }

    .cartIcon-product-icon {
        height: 50px;
    }

    .cartItems-remove-icon {
        margin: auto;
    }

    .cartItem-quantity {
        width: 40px;
        height: 30px;
    }

    .cartItems-down {
        position: relative;
        margin: 80px 0;
        flex-direction: column;
        gap: 80px;
    }

    .cartItems-total {
        margin: 0;
    }

    .cartItems-total button {
        max-width: 200px;
        height: 45px;
        font-size: 13px;
    }

    .cartItems-promobox {
        width: auto;
        max-width: 500px;
    }

    .cartItems-promobox input {
        width: 100%;
    }

    .cartItems-promobox button {
        width: 120px;
        margin-left: -120px;
    }
}

@media (max-width:500px) {
    .cartItems-format-main {
        display: none;
        grid-template-columns: 0.5fr 3fr 0.5fr;
        gap: 10px;
    }

    .cartItems-format {
        display: grid;
    }
}