.navbar {
    display: flex;
    justify-content: space-around;
    padding: 0px;
    box-shadow: 0 1px 3px -2px black;
    align-items: center;
}

.nav-logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav-logo p {
    color: #171717;
    size: 38px;
    font-weight: 600;
}

.nav-menu {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 50px;
    color: #171717;
    font-size: 20px;
    font-weight: 500;
}

.nav-menu li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3px;
    cursor: pointer;
}

.menu-items:hover {
    a {

        color: #FF4141 ;
    }
}

.nav-menu hr {
    border: none;
    width: 80%;
    height: 3px;
    border-radius: 10px;
    background-color: #FF4141;
}

.nav-menu li a {
    color: #000;
    font-weight: 500;
}

.nav-login-cart {
    display: flex;
    align-items: center;
    gap: 45px;
}

.nav-login-cart button {
    width: 170px;
    height: 58px;
    outline: none;
    border: none;
    color: #515151;
    font-size: 20px;
    font-weight: 500;
    background-color: white;
    cursor: pointer;
    transition: transform 0.5s;

    &:hover {
        color: #FF4141;
        transform: scaleY(1) translateX(10px);
    }
}

.nav-login-cart button:active {
    background-color: #f3f3f3;
}

.nav-cart-count {
    width: 22px;
    height: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -35px;
    margin-left: -35px;
    font-size: 14px;
    background-color: red;
    color: white;
    border-radius: 99px;
}

.nav-dropdown {
    display: none;
}

.nav-dropdownList {
    background-color: white;
    color: black;
    min-width: 170px;
    height: auto;
    margin-top: 10px;
    list-style: none;
    border-top: 0;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.nav-dropdownItems {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 20px;
    cursor: pointer;
    font-size: 1.1rem;
}

.nav-dropdownItems:hover {
    background-color: #963937;
    color: white;
}

.nav-dropItemsIcons {
    display: flex;
    align-items: center;
    padding: 8px;
}


.square-btn {
    display: flex;
    align-items: center;
    justify-content: center;
}

.user-icon {
    display: flex;
    align-items: center;
    margin-right: 10px;
    font-size: 1.6rem;
}

// responsive
@media(max-width:1280px) {
    .navbar {
        padding: 12px 50px;
    }

    .nav-logo img {
        width: 40px;
        height: 60px;
    }

    .nav-logo p {
        font-size: 25px;
    }

    .nav-menu {
        gap: 30px;
        font-size: 16px;
    }

    .nav-login-cart {
        gap: 30px;
    }

    .nav-login-cart button {
        width: 120px;
        height: 45px;
        font-size: 16px;
    }

    .nav-cart-count {
        margin-left: -40px;
        font-size: 12px;
    }
}

@media (max-width:1024px) {
    .navbar {
        padding: 12px 30px;
    }

    .nav-menu {
        gap: 25px;
    }

    .nav-login-cart button {
        width: 80px;
        height: 35px;
        font-size: 14px;
    }

    .nav-login-cart img {
        width: 30px;
    }

    .nav-cart-count {
        width: 18px;
        height: 18px;
    }

    .square-btn p {
        display: none;
    }

    .user-icon {
        font-size: 2rem;
    }
}


@media (max-width:800px) {
    .navbar {
        padding: 10px 0px;
    }

    .nav-dropdown {
        display: block;
        height: 60px;
        width: 50px;
        rotate: -90deg;
        transition: 0.5s;
    }

    .nav-menu {
        display: none;
        height: 80px;
        width: 100%;
        position: absolute;
        background-color: white;
        justify-content: center;
        cursor: pointer;
        top: 80px;
    }

    .nav-menu-visible {
        display: flex;
    }

    .open {
        cursor: pointer;
        transform: rotate(90deg);
    }

}

@media (max-width:500px) {
    .navbar {
        padding: 8px 0;
        gap: 0;
    }

    .nav-logo {
        transform: scale(0.8);
    }

    .nav-menu {
        height: 70px;
        top: 80px;
    }

    .nav-login-cart {
        transform: scale(0.8);
    }
}